.header {
  color: #22262a;

  &.header_center {
    text-align: center;
  }

  &.header_sm {
    margin-bottom: 1.5rem;

    .header__title {
      font-size: 2rem;
    }
  }

  &.header_md {
    margin-bottom: 2rem;

    .header__title {
      font-size: 2.5rem;
    }
  }

  &.header_lg {
    margin-bottom: 2.5rem;

    .header__title {
      font-size: 3rem;
    }
  }

  .header__title {
    margin-bottom: 0;
  }
}