.about {
  margin-top: -1.5rem;

  &__hero {
    margin: 0 -1rem;
    min-height: 20rem;
    height: calc(100vh - 3.5rem);
    background: linear-gradient(to right bottom, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
  }

  .content-section {
    padding: 2.5rem 0;

    &:last-child h2 {
      font-weight: 100;

      &::before {
        display: none;
      }
    }
  }

  h2 {
    color: #222;

    &::before {
      content: '#';
      display: inline;
      margin-right: .5rem;
      color: brown;
    }
  }

  hr {
    margin: 2.5rem 0;
  }
}